RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

Rewriterule ^base/(.+)/(.+)/(.+)$ app/cont/principal/base.php?sec=$1&opcion=$2&id=$3
Rewriterule ^base/(.+)/(.+)$ app/cont/principal/base.php?sec=$1&opcion=$2
Rewriterule ^base/(.+) app/cont/principal/base.php?sec=$1


#Rewriterule ^index.php$ https://admision.unm.edu.pe//planilla/base/PlanPens
Rewriterule ^index.php$ https://admision.unm.edu.pe/planilla/app/cont/sesion/sesion.php